@view-transition {
  navigation: auto;
}

:root {
  --font-geometric-sans: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro, sans-serif;
  --font-oldstyle-serif: "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052, serif;
  --font-color-primary: #2d2c2b;
  --border-default: 2px solid rgba(39, 39, 39, 0.92);
}

body {
  padding: 1.5rem;
  background-color: rgb(242, 232, 232);
  font-family: var(--font-geometric-sans);
  color: var(--font-color-primary);
}
@media screen and (min-width: 768px) {
  body {
    padding: 2rem;
  }
}

a, a:visited {
  color: blue;
  text-decoration: underline;
}
a:visited {
  color: rebeccapurple; 
}